{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<body>

		<!-- CONTENT -->
		<section>
			<div class="container d-flex flex-column">
				<div class="row align-items-center justify-content-center gx-0 min-vh-100">
					<div
						class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

						<!-- Heading -->
						<h1 class="mb-0 fw-bold">
							Sign in
						</h1>

						<!-- Text -->
						<p class="mb-6 text-muted">
							Simplify your workflow in minutes.
						</p>

						<!-- Form -->
						<form method="post" class="mb-6">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							<!-- Email -->
							<div class="form-group">
								<label class="form-label" for="email">
									<label for="inputEmail">Email</label>
								</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>

							<!-- Password -->
							<div class="form-group mb-5">
								<label class="form-label" for="password">
									<label for="inputPassword">Password</label>
								</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>
							<input
							type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<!-- Submit -->
							<button class="btn w-100 btn-primary" type="submit">
								Sign in
							</button>
						</form>

						<!-- Text -->
						<p class="mb-0 fs-sm text-muted">
							Don't have an account yet?
							<a href="{{ path('app_register') }}">Sign up</a>.
						</p>

					</div>
					<div
						class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

						<!-- Image -->
						<div class="h-100 w-cover bg-cover" style="background-image: url({{asset('img/wiredBeauty.jpg')}});"></div>

						<!-- Shape -->
						<div class="shape shape-start shape-fluid-y text-white">
							<svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/>
							</svg>
						</div>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</section>

		<!-- JAVASCRIPT -->
		<!-- Map JS -->
		<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

		<!-- Vendor JS -->
		<script src="./assets/js/vendor.bundle.js"></script>

		<!-- Theme JS -->
		<script src="./assets/js/theme.bundle.js"></script>

	</body>
{% endblock %}
